* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blog-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--color-creamson);
    background: url("/images/blog.png") no-repeat;
    background-position: center;
    background-size: cover;
}

.construction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.construction h1 {
    font-size: 4rem;
    color: var(--black-300);
    margin-bottom: 1rem;
}

.construction p {
    font-size: 3rem;
    color: var(--color-white);
    margin-bottom: 2rem;
}

.construction-image {
    max-width: 720px;
}

.go-back {
    padding: 0.5rem 1rem;
    font-size: 3.5rem;
    color: var(--color-white);
    background-color: lightskyblue;
}

.go-back:hover {
    background-color: #32f1ff;
    color: var(--black-500);
    transition: background-color 0.3s ease, color 0.3s ease;
}

#themeToggle{
    background-color: var(--color-creamson);
    border: none;
    margin: 1rem;
    padding: 0.5rem 1rem;
    font-size: 3.5rem;
    color: var(--black-500);
    cursor: pointer;
}